body { background: white; color: #222222; font-style: normal; font-size: 11pt; font-family: "Source Sans Pro", "Open Sans", Roboto, Helvetica, Arial, sans-Serif; line-height: 1.25em;}

hr { color: #444444; }
table { border-spacing: 0; border-collapse: collapse; vertical-align: top; }

td { margin: 0px; padding: 0px; vertical-align: top; }
tr { margin: 0px; padding: 0px; vertical-align: top; }

.col1 { background-color: #EFEFEF; }

.font1 { font-size: 16pt; line-height: 17pt;}

.font2 { font-size: 10pt; line-height: 13pt;}

.font3 { font-size: 8pt; line-height: 11pt;}

.boldy { font-weight: bold; color: #000000; }

.tbl1 { border: #444444 1pt solid; border-collapse:collapse; }
.tbl1-left { border-left: #444444 1pt solid; border-collapse:collapse; }
.tbl1-right { border-right: #444444 1pt solid; border-collapse:collapse; }
.tbl1-bottom { border-bottom: #444444 1pt solid; border-collapse:collapse; }
.tbl1-top { border-top: #444444 1pt solid; border-collapse:collapse; }

.left { clear: left; }

.right { float: right; }

.double_underline { border-bottom: 3px double #555; font-weight: bold; color: #000000; font-size: 14pt; line-height: 16pt;}

.sp-top {padding-top:3px;}
.space {padding-top:18px;}
.sp-bottom {padding-bottom:3px}
.ms-bottom {margin-bottom:3px}
